/* ------------------------------------------------------------------------ * 
 * Blog Page Styling
 * ------------------------------------------------------------------------ */

.postdate {
	background: white;
	float: left;
	position: relative;
	left: -70px;
	width: 60px;
	text-align: center;
	// padding: 5px;
	margin-top: 10px;
	display: none;

	.day, .year {
		background: $darktexthighlightcolor;
		color: $lighttextcolor;
		padding: 1px;
	}

	.day {
		@include border-top-radius(5px);
	}

	.month {
		padding: 5px;
		border: 1px solid black;
	}

	.year {
		@include border-bottom-radius(5px);
	}
}

article {
 	float: left;
 	// margin-left: -68px;
 	margin-bottom: 20px;
 	@include border-radius(20px);
 	padding: 10px;
 	width: 600px;
}

.articleheader {
	border-bottom: 3px solid darken(#bbbbbb, 10%);
	margin-bottom: 10px;
	padding-bottom: 5px;
	padding-right: 5px;
}

.posttitle {
 	float: left;

 	a{
 		color: lighten($darktextcolor, 10%);

 		&:hover {
 			color: blue;
 		}
 	}
}

.posttime {
 	float: right;
 	margin-top: 6px;
 	color: $darktextcolor;
 	font-style: italic;
 	font-size: 14px;
}

.articlecontent {
	margin-bottom: 5px;
}