$footerboxcolumns: 4;
$footerboxmargin: 15px;

footer {
	background: #2d2d2d;
	color: $lighttextcolor;
	// height: 300px;

	a {
		color: $lighttexthighlightcolor;

		&:hover {
			text-decoration: underline;
		}
	}
}

.footerbox {
	float: left;
	width: percentage(($wrapperwidth/$footerboxcolumns - $footerboxmargin*2)/$wrapperwidth);
	margin: $footerboxmargin;
	margin-top: 30px;

	h6 {
		// padding-left: 3px;
		padding-bottom: 5px;
		border-bottom: 3px solid #5b5b5b;
		font-size: 16px;
	}
}

#footerboxnews ul li {
	border-bottom: 2px solid #5b5b5b;
	padding: 10px 3px;
	font-size: 13px;
}

#twitter_update_list li {
	list-style-type: none;
	border-bottom: 2px solid #5b5b5b;
	padding: 10px 3px;
	font-size: 13px;
}

.footerbox p {
	font-size: 13px;
}