/* ------------------------------------------------------------------------ * 
 * Pricing Table Styling
 * ------------------------------------------------------------------------ */

.packages {
	text-align: center;
	.gray {
		background: lighten($lighttextcolor, 15%);
	}
	margin-bottom: 25px;
	color: $darktextcolor;
}

.option-descriptions {
	float: left;
	margin-top: 75px;
	width: 170px;
	text-align: left;
}

.package {
	float: left;
	width: 150px;
}

.package-header {
	height: 75px;
}

.pricing-option {
	padding: 10px 0;
}

.pricing-option-desc {
	padding: 10px 0;
	padding-left: 15px;
}